<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/header.ejs") %>
<body>
    <%- include("./partials/nav.ejs") %>

    <div class="blogs content">
     <h2>All Blogs</h2>     
    <!-- We have access to every part of the blog including the id in ind-->
     <% if (blogs.length > 0) { %>
        <% blogs.forEach(blog => { %>
        <a class="single" href="/blogs/<%= blog._id %>">    <!-- So that each blog displayed opens up a different route with its own id as
           the route parameter-->
          <h3 class="title"><%= blog.title %></h3>
          <p class="snippet"><%= blog.snippet %></p>
        <% }) %>
        </a>
      <% } else { %>
        <p>There are no blogs to display...</p>
      <% } %>
    </div>

    <%- include('./partials/footer.ejs') %> 
</body>
</html>